<!DOCTYPE html>
 <html lang="en">
 <head>
     <meta charset="utf-8">
     <title>JOIN</title>
 </head>
     <body>
     <h1>Join my website! </h1>
     <form action="/join" method="post">
         name : <input type="text" name="name"><br>
         password : <input type="text" name="password"><br>
         nickname : <input type="text" name="nickname"><br>

         <input type="submit">
     </form>

     </body>
 </html>